.first_assess{
    background-color: rgb(81, 52, 87);
    width: 100px;
    height: 100px;
}

.first{
height: 80px;
width: 100px;
}

.second_asses{
    background-color:  vrgb(0, 255, 110);
    width: 100px;
    height: 100px;
}

.second{
    height: 80px;
    width: 100px;
}